torch
torchvision
torchaudio
numpy
networkx
six
scikit-learn
scipy
sentence-transformers
matplotlib
psutil
h5py
pyemd
tensorboard
tqdm
pyyaml
pytorch-fid
grakel
opencv-python
googledrivedownloader
scikit-video
rdkit-pypi
git+https://github.com/fabriziocosta/EDeN.git
